/* Layout */

a {
text-decoration: none;
color: #000;
}

body{
  margin: 0px;
  padding: 0px;
    max-width: 100%;
    overflow-x: hidden;

}


.blue { background: linear-gradient(-24deg, rgba(255,222,67,0.50) 0%, #FFD300 100%); 
    height: 720px;
    z-index:-2; 
    position: relative;
        overflow-x: hidden;
        overflow-y: hidden;}

.red {   
background:
linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
url(http://f.cl.ly/items/0T2k0F1s3p3m1I312n1J/www.GIFCreator.me_TxurHM.gif) no-repeat center center fixed;
background-size: cover;
 height: 530px;
  overflow-x: hidden;
        overflow-y: hidden;}

.green { background-color: #F7F7F7; height: 180%; padding-bottom: 40px;}

.pink { background-color: #F7F7F7; height: 140%; padding-bottom: 40px;}

.black { background:
url(http://jordanearle.github.io/paulascher/img/albums1.png) no-repeat center center fixed;
background-size: cover;
 height: 530px;
  overflow-x: hidden;
        overflow-y: hidden;}

.orange { background-color: #F7F7F7; height: 180%; padding-bottom: 40px; padding-top: 40px;}

nav{ 
  -webkit-backface-visibility: hidden;
  z-index: 5; 
  position: fixed;
  top: 25%;
  left: -95%;
  right: 0px;
  margin: auto;
  width: 100px;
}

nav li{ 
  height: 15px;
  margin: 30px 0px;
  list-style: none;
    
}

nav a{ 
  display: block; 
  width: 3px; 
  height: 3px; 
  text-indent: -9999px;
  border-radius: 30px; 
  -moz-border-radius:30px; 
  -webkit-border-radius:30px; 
  background-color: transparent; 
  border: 1px solid #858E9A; 
  opacity: 0.8;
  transition: all 0.3s ease; 
  position: relative;
  left: 5px;
  top: 0px;
}
nav a:hover{ background-color: #474E56;}

nav a.active{ background-color: #858E9A; width: 1px; height: 1px;}

.nav1 {
margin-left: 4em;
margin-top: -0.7em;
display: none;
}

.nav1:hover {
margin-left: 4em;
margin-top: -0.7em;
display: block;
}

#rectangle {
	width: 70%; 
    height: 30%; 
    background: #6141FF;
    margin-top: -34.5em;
    margin-left: 4em;
    z-index: -1;    
    position: relative;}

hr {
    border: 0;
    width: 50%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
    margin-top: 2em;
    margin-bottom: 2em;
}


/* Typography */

a {
text-decoration: none;
color: #3991FF;
}

a:hover {
color: #1F5AA4;
}

p {
margin-top: -1em;
padding-top: 1.2em;
padding-left: 25%;
padding-right: 25%;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
color: #494949;
line-height: 1.7em;
}

.tagline {
font-weight: 400;
font-family: 'Open Sans', sans-serif;
font-size: 1.8em;
color: #585858;
text-transform: uppercase;
letter-spacing: 0.1em;
padding-left: 26%;
}

.pullquoteintro {
margin-top: -1em;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
font-size: 2.8em;
color: #fff;
padding-top: 4em;
padding-left: 6em;
padding-right: 6em;
text-align: left;
min-width: 60%;
}

.CITEIntro {
font-weight: 300;
font-family: 'Open Sans', sans-serif;
font-size: 1.4em;
color: #fff;
opacity: 0.8;
margin-left: 70%;
}


.h1intro {
font-family: 'Open Sans', sans-serif;
font-weight: 400italic;
font-size: 6em;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: -0.7em;
padding-top: 1em;
position: absolute;
text-align: center;

}

.h1career {
font-family: 'Open Sans', sans-serif;
font-weight: 400italic;
font-size: 6em;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: -0.7em;
padding-top: 0.5em;
text-align: center;
    padding-bottom: -30;
    margin-bottom: 0.2em;
}


#intro {
padding-top: 11em;
font-size: 19px;
letter-spacing: 0.02em;
color: grey;
}

#pend {
padding-bottom: 4em;
}

li a {
	text-align: right;
    font-family: 'Open Sans', sans-serif;
	color: #fff;
    padding: 5px 5px 5px 5px;
    text-decoration: none;}

li:hover a {
    color: white;
}

.doublecite {
color: #ABABAB;
font-size: 0.9em;
font-style: italic;
margin-top: -4em;
text-align: center;
}


/* Images */

.logo {
max-width: 65%;
height: auto;
margin-top: -49%;
margin-bottom: -49%;
padding-bottom: 50%;
margin-left: 4.5em;
z-index: 1;
position: absolute;
    
    
}

.hero {
    margin-top: -2em;
    margin-left: 70%;
    height: 110%;
    overflow: hidden;
}

.philly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 60%;
    padding-top: 2em;
    padding-bottom: 3em;
}

.swatch1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 3em;
}

.swatch2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
        height: 300px;
    width: auto;
}

.posters {
text-align: center;
}






