/* Layout */

a {
text-decoration: none;
color: #000;
}

body{
  margin: 0px;
  padding: 0px;
    max-width: 100%;
    min-width: 480px;
    overflow-x: hidden;

}


.blue { 
    background:  
    linear-gradient(-24deg, rgba(255,222,67,0.50) 0%, #FFD300 100%); 
    height: 720px;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index:-2; 
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
      }

.red {   
background:
linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
url(http://f.cl.ly/items/0T2k0F1s3p3m1I312n1J/www.GIFCreator.me_TxurHM.gif) no-repeat center center fixed;
background-size: cover;
 height: 530px;
  overflow-x: hidden;
        overflow-y: hidden;}

.green { background-color: #F7F7F7; height: 180%; padding-bottom: 40px;}

.pink { background-color: #F7F7F7; height: 140%; padding-bottom: 40px;}

.black { background:
url(http://jordanearle.github.io/paulascher/img/albums1.png) no-repeat center center fixed;
background-size: cover;
    opacity: 0.9;
 height: 530px;
  overflow-x: hidden;
        overflow-y: hidden;}

.orange { background-color: #F7F7F7; height: 180%; padding-bottom: 40px; padding-top: 40px;}

.grey { background-color: #F7F7F7; height: 180%; padding-bottom: 0px; padding-top: 40px;}

.gray { background-color: #F7F7F7; height: 180%; padding-bottom:0px; padding-top: 10px;}

.purple { background-color: #F7F7F7; height: 300px; padding-bottom: 40px; padding-top: 40px;}

.indigo { background-color: #F7F7F7; height: 180%; padding-bottom: 40px; padding-top: 40px;}

.navy { background-color: #252525; height: 100%; padding-bottom: 40px; padding-top: 40px;}


    nav { 
        padding: 2em 0;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0.02em;
        width: 100%;
        background: #333;
        opacity: 0.98;
    z-index: 100;}    
        
    nav ul {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-left: 0px;
}
    
    nav ul li {
        display: inline;
        margin: 20px;}

nav a:hover{ background-color: #ffd81b;}

nav a.active{ background-color: #ffd81b;}

#rectangle {
	width: 70%; 
    height: 30%; 
    background: #6141FF;
    margin-top: -34.5em;
    margin-left: 4em;
    z-index: -1;    
    position: relative;}

hr {
    border: 0;
    width: 50%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
    margin-top: 2em;
    margin-bottom: 2em;
}

.hrwhite {
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* carousel */

#sliderwrapper {
				width: 100%;
				height: 50%;
				position: relative;
				left: 2;
				top: 30%;
}

	#carousel {
				margin-top: -100px;
                
			}
			#carousel div {
				text-align: center;
				height: 320px;
                width: 220px;
				float: left;
				position: relative;
                padding-right: 2em;
			}
			#carousel div img {
				border: none;
                height: 320px;
                width: 220px;
			}
			#carousel div span {
				display: none;
			}

/*	#carousel div:hover span {
				background-color: #333;
				color: #fff;
				font-family: Arial, Geneva, SunSans-Regular, sans-serif;
				font-size: 14px;
				line-height: 22px;
				display: inline-block;
				width: 100px;
				padding: 2px 0;
				margin: 0 0 0 -50px;
				position: absolute;
				bottom: 30px;
				left: 50%;
				border-radius: 3px;
			} */


/* Typography */

a {
text-decoration: none;
color: #3991FF;
}

a:hover {
color: #1F5AA4;
}

p {
margin-top: -1em;
padding-top: 1.2em;
padding-left: 25%;
padding-right: 25%;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
color: #494949;
line-height: 1.7em;
}

.tagline {
font-weight: 400;
font-family: 'Open Sans', sans-serif;
font-size: 1.8em;
color: #585858;
text-transform: uppercase;
letter-spacing: 0.1em;
padding-left: 26%;
}

.pullquoteintro {
margin-top: -1em;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
font-size: 2.8em;
color: #fff;
padding-top: 4em;
padding-left: 20%;
padding-right: 20%;
text-align: left;
min-width: 60%;
}

.CITEIntro {
font-weight: 300;
font-family: 'Open Sans', sans-serif;
font-size: 1.4em;
color: #fff;
opacity: 0.8;
margin-left: 70%;
}


.h1intro {
font-family: 'Open Sans', sans-serif;
font-weight: 400italic;
font-size: 6em;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: -0.7em;
padding-top: 1em;
position: absolute;
text-align: center;

}

.h1career {
font-family: 'Open Sans', sans-serif;
font-weight: 400italic;
font-size: 6em;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: -0.7em;
padding-top: 0.5em;
text-align: center;
    padding-bottom: -30;
    margin-bottom: 0.2em;
}


.h1identity {
font-family: 'Open Sans', sans-serif;
font-weight: 400italic;
font-size: 6em;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: -0.7em;
padding-top: 0.5em;
text-align: center;
    padding-bottom: -30;
    margin-bottom: 0.2em;
}

.h1other {
font-family: 'Open Sans', sans-serif;
font-weight: 400italic;
font-size: 5em;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: -0.7em;
padding-top: 0.5em;
text-align: center;
    padding-bottom: -30;
    margin-bottom: 0.2em;
}


.h1conclusion {
font-family: 'Open Sans', sans-serif;
font-weight: 400italic;
font-size: 5em;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: -0.7em;
padding-top: 0.5em;
text-align: center;
    padding-bottom: -30;
    margin-bottom: 0.2em;
}

h3 {
font-family: 'Open Sans', sans-serif;
font-weight: 300italic;
font-size: 1.2em;
margin-left: auto;
margin-right: auto;
margin-top: -0.2em;
width: 100%;
text-align: center;
font-style: italic;
color: #F5F5F5;
}

.reference {
font-family: 'Open Sans', sans-serif;
font-weight: 200;
font-size: 0.8em;
color: #F5F5F5;
padding-left: 20%;
padding-right: 20%;
list-style: none;
margin-bottom: 1em;
}

.reference a {
text-decoration: underline;

}

.reference a:hover {
padding: 5px 5px 5px 5px;
background-color:#ffd81b;
color: dimgrey;

}

#credit {
font-size: 0.8em;
color: whitesmoke;
opacity: 0.6;
margin-left: auto;
margin-right: auto;
text-align: center;
}

#intro {
padding-top: 11em;
font-size: 19px;
letter-spacing: 0.02em;
color: grey;
}

#pend {
padding-bottom: 4em;
}

li a {
	text-align: right;
    font-family: 'Open Sans', sans-serif;
	color: #fff;
    padding: 5px 5px 5px 5px;
    text-decoration: none;} 


li:hover a {
    color: white; 
}


.doublecite {
color: #ABABAB;
font-size: 0.9em;
font-style: italic;
margin-top: -4em;
text-align: center;
}

.metrocite {
color: #ABABAB;
font-size: 0.9em;
font-style: italic;
margin-top: -4em;
text-align: center;
}

#windowsp {
margin-bottom: -1em;
}

#otherp {
margin-bottom: -1em;
}

/* Images */

.logo {
max-width: 840px;
margin-left: 4.5em;
margin-top: -90em;
padding-bottom: 17.3em;
z-index: 1;
display: inline-block}


.hero {
    margin-top: -2em;
    margin-left: 70%;
    height: 110%;
    overflow: hidden;
}

.philly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 60%;
    padding-top: 2em;
    padding-bottom: 3em;
}

.metropolis {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 60%;
    padding-top: 2em;
    padding-bottom: 3em;
}

.swatch1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 3em;
}

.swatch2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
        height: 300px;
    width: auto;
}

.posters {
text-align: center;
}

.citisketch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 60%;
    padding-top: 2em;
    padding-bottom: 3em;
}

.windowslogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 55%;
    padding-top: 1em;
    margin-bottom: -6em;
}

.jersey {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 55%;
    padding-top: 1em;
    padding-bottom: 3em;
}

.pave {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 55%;
    padding-top: 1em;
    padding-bottom: 3em;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 3em;
    background-repeat: no-repeat;
}

.paulascher {
    display: block;
    width: 100%;
}


/** Media Queries **/

@media (max-width: 980px) {
    
    .blue { 
    height: 620px;
      }
    
}

@media (max-width: 780px) {
    
    .paulascher {
    padding-top: 10%;
    display: block;
    width: 100%;
    overflow-x: hidden;
}
    
    .blue { 
    height: 520px;
    overflow-x: hidden;
      }
    
}

@media (max-width: 680px) {

    .paulascher {
    padding-top: 10%;
    display: block;
    width: 100%;
    overflow-x: hidden;
}
    
    .blue { 
    height: 400px;    
    overflow-x: hidden;

      }
    
    .h1intro {
font-size: 4em;

}

.h1career {
font-size: 4em;
}


.h1identity {
font-size: 4em;

}

.h1other {
font-size: 4em;

}
    
}
    





